<p>
  <input
    type="text"
    placeholder="first name"
    [(ngModel)]="passid.firstname"
    value=""
  />
</p>
<p>
  <input
    type="text"
    placeholder="last name"
    [(ngModel)]="passid.lastname"
    value=""
  />
</p>
<p>
  <input type="text" placeholder="DOB" [(ngModel)]="passid.dob" value="" />
</p>
<p>
  <input
    type="text"
    placeholder="National ID"
    [(ngModel)]="passid.passportnum"
    value=""
  />
</p>
<p>
  <button (click)="remove_me()">click to Remove</button>
</p>
