<p>
  <input
    type="text"
    placeholder="first name"
    [(ngModel)]="passid.firstname"
    value=""
  />
</p>
<p>
  <input
    type="text"
    placeholder="last name"
    [(ngModel)]="passid.lastname"
    value=""
  />
</p>
<p>
  <input type="text" placeholder="DOB" [(ngModel)]="passid.dob" value="" />
</p>
<p>
  <input
    type="text"
    placeholder="National ID"
    [(ngModel)]="passid.passportnum"
    value=""
  />
</p>
<p>
Version = {{version.full}} <br/>
<input type="file" (change)="upload($event.target.files)" />
Upload Percent: {{percentDone}}% <br />

<ng-container *ngIf="uploadSuccess">
  Upload Successful
</ng-container> 
</p>
<p>
  <button (click)="remove_me()">click to Remove</button>
</p>
